/* Общие стили */
:root {
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --white-text60: rgba(255, 255, 255, 0.6);
  --white-text10: rgba(255, 255, 255, 1);
  --white-text01: rgba(255, 255, 255, 0.1);

  --background-grey: rgba(47, 48, 58, 1);
  --background-white: rgba(245, 244, 250, 1);
  --studio-header: rgba(0, 0, 0, 1);
  --border-color: rgba(236, 236, 236, 1);
  --grey-social-links: rgba(175, 177, 184, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.team > .container {
  margin-top: 50px;
}

.cont-size {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Точечные стили */

.nav,
.contacts-site {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-nav,
.nav,
.contacts-site {
  display: flex;
  align-items: center;
}

.header > .container {
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav > li {
  margin-left: 50px;
}

.nav > li:first-child {
  margin-left: 0px;
}

.nav {
  margin-left: 93px;
  padding-left: 0px;
}

.contacts-site {
  padding-left: 0px;
  margin-left: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: var(--white-text10);
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.web {
  color: var(--blue-text);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.studio-header {
  color: var(--black-text);
}

.contacts-links {
  color: var(--grey-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.links-nav {
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.links-nav:hover,
.links-nav:focus {
  color: var(--blue-text);
  outline: none;
}

.contacts-links:hover,
.contacts-links:focus {
  color: var(--blue-text);
  outline-color: currentColor;
}

.header-button:hover,
.header-button:focus {
  fill: var(--blue-text);
}

.links-nav.current {
  color: var(--blue-text);
}

a {
  text-decoration: none;
}

.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-position: center;
}

.main-title {
  margin: 0;
  color: var(--white-text10);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  background-color: var(--blue-text);
  color: var(--white-text10);

  border-radius: 4px;
  padding: 10px 32px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  width: 200px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
}

.advantages-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.advantages {
  padding-top: 94px;
}

.advantages-list .button-icon {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: var(--black-text);
}

.button-container {
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-white);
  margin-bottom: 30px;
  padding: 25px 0px;
}

.advantages-list .item {
  width: 270px;
}

.advantages-list .item:not(:first-child) {
  margin-left: 30px;
}

.advantages-headings:first-child {
  padding-left: 0px;
}

.advantages-headings {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0px;
}

.advantages-text {
  color: var(--grey-text);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  margin: 0px;
  padding-top: 10px;
}

.studio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.studio > .container {
  margin-top: 50px;
}

.works-title {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;

  margin: 0px;
}

.photo-works {
  margin: 0;
  padding: 0px;
  display: flex;
}

.photo-item > img {
  display: block;
}

.photo-item:not(:first-child) {
  margin-left: 30px;
}

.photo-item {
  padding-bottom: 30px;
  background-color: var(--white-text10);
}

.team .photo-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0px;
}

.team-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.team {
  background-color: var(--background-white);
  padding: 94px 0px;
}

.team-names {
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  margin: 0px;
  margin-top: 30px;
  text-align: center;
}

.team-text {
  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  margin: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.social {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}

.social-items .button-social {
  padding: 0px;
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--white-text10);
  display: block;
  padding: 12px;
}

.team .button-social:hover,
.team .button-social:focus {
  background-color: var(--blue-text);
  color: var(--white-text10);
  outline: none;
}

.team .button-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list {
  display: flex;
  padding: 0px;
}

.social-items:not(:first-child) {
  margin-left: 10px;
}

.team .button-social {
  color: var(--grey-social-links);
}

.button {
  background-color: var(--background-white);
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.header-button {
  color: var(--grey-text);
}

.header .button-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-site > .header-button:last-child {
  margin-left: 30px;
}

.buttons {
  display: flex;

  margin: 0px;
  padding: 0px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--blue-text);
  color: var(--white-text10);
}

.sites {
  background-color: var(--white-text10);
  box-sizing: border-box;
}

.sites:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.sites-name,
.sites-description {
  margin: 0px;
}

.name-description {
  padding: 20px 24px;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
}

.sites img {
  display: block;
}

.sites-name {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.sites-description {
  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.clients {
  padding: 94px 0px;
}

.clients-title {
  margin: 0px;
  color: var(--black-text);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.clients .container {
  margin-top: 50px;
}

.clients-list {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.clients-item:not(:first-child) {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--grey-social-links);
  border-radius: 4px;
  color: var(--grey-social-links);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--blue-text);
  color: var(--blue-text);
  outline: none;
}

.clients .button-icon {
  fill: currentColor;
}

footer {
  background-color: var(--background-grey);
  padding: 60px 0px;
}

.address {
  margin-top: 20px;
}

.footer-contacts {
  color: var(--white-text60);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: inline-block;
}

.footer-adress {
  color: var(--white-text10);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: inline-block;
}

.studio-footer {
  color: var(--white-text10);
}

.our-works {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-top: -30px;
  margin-left: -30px;
}

.cont-butt {
  justify-content: center;
}

.box-sites {
  margin-top: 50px;
}

.container .sites {
  width: 370px;
  height: 404px;
}

.our-works > .sites {
  margin-left: 30px;
  margin-top: 30px;
}

.buttons-item:not(:first-child) {
  margin-left: 8px;
}

.buttons-item:hover,
.buttons-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.main-portfolio {
  padding-top: 139px;
  padding-bottom: 49px;
}

.connect {
  color: var(--white-text10);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
}

.footer .button-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text10);
}

.link-social {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  background-color: var(--white-text01);
  border-radius: 50%;
}

.social-footer {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

.footer-items:not(:first-child) {
  margin-left: 10px;
}

.link-social:hover,
.link-social:focus {
  background-color: var(--blue-text);
  outline: none;
}

.footer .cont-size {
  display: flex;
  align-items: baseline;
}

.footer-connect {
  margin-left: 70px;
  /* margin-top: 12px; */
}
